.ClubDetails{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ClubInfo{
    padding: 15px;
}

.Players{
    padding: 15px;
}

.CreateNewClub{
    padding: 15px;
}

.ClubForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
}

.ClubInput{
    border:1px solid black;
    padding: 10px;
    background-color: #14A76C;
    color:black;
}

::placeholder{
    color:black;
}

.Button{
    border: 1px solid black;
    color:#14A76C;
    padding: 10px;
    background-color: #272727;
}

.Button:hover{
    background-color: #242424;
    cursor: pointer;
}


