.ClubFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    border: 4px solid #242424;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.ClubFlex:hover{
    background-color: #505050;
}

.ClubContent{
    font-size: 24px;
    width:70vw;
    padding:10px;
}

.Buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    padding:5px;
}

.Button{
    padding:10px;
    border: 1px solid #242424;
    background-color: #505050;
}
.Button:hover{
    background-color: #14A76C;
    cursor: pointer;
}
