.club-card{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin:20px;
    background-color: #464646;
    border:1px solid #464646;
    -webkit-box-shadow: 1px 7px 7px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 7px 7px -8px rgba(0, 0, 0, 1);
    box-shadow: 1px 7px 7px -8px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.club-card:hover{
    border:1px solid #0c6e47
}


.card-ation-button{
    margin: auto;
    padding:12px;
    color:rgb(17, 17, 17);
    border-left: 1px solid rgb(56, 56, 56);
    
}

.card-ation-button:hover{
    border-radius: 5px;
    background-color: #14A76C;
}

.card-team-name{
    flex-grow:1;
    padding:12px;
}


.action-button-div{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.action-button{
    padding:12px 12px 7px 12px;
    font-size: 28px;
    border-radius: 33px;
    background-color: #14A76C;
    border: 1px solid #242424;
}
.action-button:hover{
    background-color: #505050;
    cursor: pointer;
}

.match-results{
    display: flex;
    justify-content: center;
}


